body{
    background-color: rgb(72, 189, 235);
}

header{
line-height: 50px;
text-align: center;

font-size: 40px; /*tamanho da fonte*/
color: rgb(242, 252, 255);

}

section{
    background-color: rgb(69, 205, 240);
    border-radius: 10px;
    padding: 120px;
    width: 350px; 
    margin: auto; /*centralizando*/ 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.274); /*sombra na borda*/
    font-size: 20px;
    
}


   div#foto{
    font-size:20px;
    text-align: center;
   }

footer{
    text-align: center;
    font-style: italic;
}